@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        @apply appearance-none;
    }

    input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
    }
}

@font-face {
    font-family: 'Roboto';
    src: url('/Fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Roboto', sans-serif;
}